@use '../../styles/variables' as v;

.ff {
    font-family: v.$font;
}

.summaryText {
    font-size: 0.7em;
    color: v.$text-color;
}

.textBold {
    font-weight: bold;
}

.cartProdContainer {
    //background-color: v.$background-color;
    display: flex;
    flex-wrap: wrap;
    //justify-content: center;
    padding: 30px 20px;
    width: 95%;
    
    //border: 1px solid blue;
}

.productAdded {
    display: flex;
    width: 100%;
    //flex-wrap: wrap;
    //flex-direction: row;
}
.cartImg {
width: 20%;
}

.imgInCart {
    width: 80px;
}

.cartProdInfo {
    //padding-right: 30px;
    //margin-right: 50px;
    width: 60%;
    
}
.productDesc {
    margin-bottom: 0;
}

.removeFromCart {
    font-weight: bold;
    font-size: 0.7em;
    color: v.$primary-color;
}

.cartItemPrice {
    //justify-content: right;
    align-content: end;
    width: 20%;
    text-align: right;
}

.delivInfo {
    width: 100%;
    padding: 20px;
    margin-left: 20%;
} 