@use '../../styles/variables' as v;

.ff {
    font-family: v.$font;
}

.summaryText {
    font-size: 0.7em;
    color: v.$text-color;
}

.textBold {
    font-weight: bold;
}

.finalTotal {
    color: v.$secondary-color;
    font-size: 0.7em;
}
.installment{
    padding-bottom: 10%;
}

.calcInstallment {
    font-size: 0.5em;
    color: v.$text-color;
    text-align: right;
    line-height: 0.5em;
}

.summaryColRight {
 
 background-color: v.$background-color;
 border-radius: 5px;
 width: 100%;
 padding: 10% 15%;
}

.totalsSpacing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    margin: none;
}

.purchaseButton {
    width: 100%;
    font-family: v.$font;
    font-weight: bold;
}

.lastItem {
    border-bottom: 1px solid v.$text-color;
    
}