@use '../../styles/variables' as v;

.summaryText {
    font-size: 12px;
    color: v.$text-color;
}

.textBold {
    font-weight: bold;
}

.cartProdContainer {
<<<<<<< HEAD
    display: flex;
    flex-wrap: wrap;
    padding: 30px 20px;
    width: 90%;
=======
    //background-color: v.$background-color;
    display: flex;
    flex-wrap: wrap;
    //justify-content: center;
    padding: 30px 20px;
    width: 95%;
    
    //border: 1px solid blue;
>>>>>>> d01607e (aligned components in cart)
}
.productAdded {
    display: flex;
    width: 100%;
<<<<<<< HEAD
=======
    //flex-wrap: wrap;
    //flex-direction: row;
>>>>>>> d01607e (aligned components in cart)
}
.cartImg {
width: 20%;
}

.imgInCart {
    width: 80px;
}

.cartProdInfo {
<<<<<<< HEAD
=======
    //padding-right: 30px;
    //margin-right: 50px;
>>>>>>> d01607e (aligned components in cart)
    width: 60%;
    
}
.productDesc {
    margin-bottom: 0;
}

.removeFromCart {
    font-weight: bold;
    font-size: 12px;
    color: v.$primary-color;
}

.cartItemPrice {
<<<<<<< HEAD
=======
    //justify-content: right;
>>>>>>> d01607e (aligned components in cart)
    align-content: end;
    width: 20%;
    text-align: right;
}

.delivInfo {
    width: 100%;
    padding: 20px 0;
    margin-left: 20%;
} 