@use '../../styles/variables' as v;

.ff {
    font-family: v.$font;
}

.summaryText {
    font-size: 0.7em;
    color: v.$text-color;
}

.textBold {
    font-weight: bold;
}

.finalTotal {
    color: v.$secondary-color;
    font-size: 0.7em;
}

.calcInstallment {
    font-size: 0.5em;
    text-align: right;
 
}

.summaryColRight {
 border: 1px solid black;   
 background-color: v.$background-color;
 border-radius: 5px;
 width: 100%;
 padding: 10%;
 margin-right: 10%;
}

.totalsSpacing {
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
}