@use '../../styles/variables' as v;

.deliveryInfo {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    font-weight: bold;
    background-color: v.$white;
    border-radius: 5px;
}
.truckIcon {
    padding: 0 10px;
}
.deliveryText {
    color: v.$text-color;
    font-size: 12px;
}
.postalCode {
    color: v.$primary-color;
}