@use '../../styles/variables' as v;

.deliveryInfo {
    display: flex;
    //flex-direction: row;
    //align-content: left;
    //align-items: left;
    align-items: center;
    //text-align: left;
    justify-content:left;
    width: 20%;
    //font-family: $font;
    font-weight: bold;
    background-color: v.$white;
    border: 1px solid black;
    border-radius: 5px;
    //row-gap: 10px;
}

.truckIcon {
    padding: 0 10px;
}

.deliveryText {
    color: v.$text-color;
    font-size: 0.7rem;
}

.postalCode {
    color: v.$primary-color;
}