@use '../../styles/variables' as v;

.qntySelect {
    background-color: v.$background-color;
    color: v.$text-color;
    font-family: v.$font;
    font-size: 1em;
    border: none;
    margin-top: 0;
}