
@use "variables" as v;

* {
  box-sizing: border-box;
}

body {
    background-color: v.$white;
    font-family: v.$font;
}

a {
    color: v.$text-color;
    text-decoration: none;
    font-weight: 400;

    &:hover {
        color: v.$primary-color;
    }
}
