$primary-color: #1A73E8;
$secondary-color: #353A49;
$text-color: #58626B;
$background-color: #F8F9FA;
$white: #FFF;

$font: "Inter", sans-serif ;

$box-shadow: 0 4px 4px #0000002a;
$filter: invert(31%) sepia(41%) saturate(4253%) hue-rotate(205deg) brightness(98%) contrast(86%);
