@import "../../styles/variables.scss";

.product-carousel {
  display: flex;
  width: 100%;

  .imgs-device {
    width: 160px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
    
  .div-icono {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
    
  .img-icono {
    width: auto;
    height: 35px;
  }
    
  .img-prev {
    background-color: $background-color;
    width: 100%;
    height: 500px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  .img-prev img {
    width: 350px;
    height: auto;
    object-fit: cover;
  }
}

@media only screen and (max-width: 991px) {

  .product-carousel .img-prev img {
    width: 350px; 
    display: block;

    .imgs-device {
    display: none;  
    }
    
  }
}
@media only screen and (max-width: 576px){
  .product-carousel .img-prev img {
    width: 250px;
    height: auto;
    object-fit: cover;
}
}
