@import "../../styles/variables.scss";

.info-device {
  h1 {
      font-size: 35px;
      font-weight: bold;
      color: $secondary-color;
      margin-top: 0; 
  }
}

.info-text {
  font-size: 12px;
}
  
.info-price {
  font-size: 20px;
  color: $secondary-color;
  font-weight: bold;
  letter-spacing: 1px;
  padding-bottom: 30px;
  border-bottom: 1px solid $secondary-color;
}
